<form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-form__user-input">
        <label for="email">{{ 'email' | translate }}</label>
        <input name="email" id="email" type="email" #emailInput="ngModel" [(ngModel)]="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$" required />
    </div>

    <div class="login-form__error-message">
        <span [hidden]="!emailInput.errors?.pattern">{{ 'invalid-email-error' | translate }}</span>
        <span [hidden]="!emailInput.errors?.required">{{ 'email-required-error' | translate }}</span>
    </div>

    <div class="login-form__user-input">
        <label for="password">{{ 'password' | translate }}</label>
        <input name="password" id="password" type="password" #passwordInput="ngModel" [(ngModel)]="password" required />
    </div>

    <div class="login-form__error-message">
        <span [hidden]="!passwordInput.errors?.required">{{ 'password-required-error' | translate }}</span>
    </div>

    <button [disabled]="!loginForm.valid" class="login-form__submit-button">{{ 'signin' | translate }}</button>
</form>


<app-modal #modal>
    <app-loading-animation></app-loading-animation>
</app-modal>