.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__login { 
    width: 80%;
    height: 70%;
}

.content__description {
    text-align: center;
    width: 80%;
}

.description__text {
    font-size: calc(1.5em + 0.2vmax);
    width: 100%;
}

.description__icon {
    color: var(--twitter-blue-color);
    font-size: calc(5em + 0.2vmax);
    text-align: left;
    margin: calc(0.4em + 0.2vmax);
    width: 100%;
}