.container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'menu header' 'menu content';
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 1fr 9fr;
}

.container__menu { 
    grid-area: menu;
    position: sticky;
    top: 0;
    height: 100vh; 
}

.container__header {
    grid-area: header;
    position: sticky;
    top: 0;
}

.header__link {
    display: none;
    outline: none;
    text-decoration: none;
    color: black;
}

.active-link {
    display: initial;
}

.container__content{ 
    grid-area: content;
}


.border-right {
    border-right: calc(0.03em + 0.03vmax) solid rgba(0, 0, 0, 0.3);

}

.border-bottom {
    border-bottom: calc(0.03em + 0.03vmax) solid rgba(0, 0, 0, 0.3);
}


