.content {
    background-color: var(--app-background-color);
    width: 100%;
    height: 100%;
}   

.content__loading-animation {
    border: calc(0.3em + 0.2vmax) solid #f3f3f3;
    border-radius: 50%;
    border-top: calc(0.3em + 0.2vmax) solid #3498db;
    width: calc(4em + 0.2vmax);
    height: calc(4em + 0.2vmax);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
 }

 @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



