<div class="content">
    <div class="content__user-avatar pointer-cursor" (click)="navigateToProfile()">
        <fa-icon *ngIf='showDefaultAvatar' class="link-icon" [icon]="faUser"></fa-icon>
        <img *ngIf='!showDefaultAvatar' [src]='tweet.avatarUrl' alt='failed to load' />
    </div>

    <div class="content__user-tweet">
        <div class="user-tweet__user-info">
            <div class="user-info__username pointer-cursor" (click)="navigateToProfile()">{{ tweet.userHandle }} </div>
            <div class="user-info__user-handle">@{{ tweet.userHandle }} &#183; {{ dateDiff }}</div>
        </div>

        <div class="user-tweet__text break-words">{{ tweet.text }}</div>

        <div class="user-tweet__operation-bar">
            <div class="operation-bar__stars operation-bar__item">
                <div class="stars__count">{{ tweet.stars }}</div>

                <div class="stars__icon">
                    <fa-icon [hidden]="tweet.starredByMe" (click)="toggleStar()"
                        class="stars__empty-star pointer-cursor" [icon]="faEmptyStar"></fa-icon>

                    <fa-icon [hidden]="!tweet.starredByMe" (click)="toggleStar()"
                        class="stars__full-star pointer-cursor" [icon]="faFullStar"></fa-icon>
                </div>
            </div>

            <fa-icon (click)="openModal()" *ngIf="showReplyOption" class="operation-bar__reply operation-bar__item pointer-cursor"
                [icon]="faReply"></fa-icon>

            <fa-icon *ngIf="showTrashOption" (appConfirmDialog)="deleteTweet()"
                class="operation-bar__trash operation-bar__item pointer-cursor" [icon]="faTrash"></fa-icon>
        </div>
    </div>
</div>

<app-modal #modal>  
    <app-text-box></app-text-box>
</app-modal>