.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: calc(0.4em + 0.2vmax) 0;
    width: 100%;
}

.content__user-avatar {
    min-width: 1.28em;
    min-height: 1.28em;
    max-width: 1.28em;
    max-height: 1.28em;
    font-size: calc(2em + 0.2vmax);
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.user-avatar__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content__user-tweet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 calc(0.4em + 0.2vmax);
    width: 100%;
}

.user-tweet__user-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.user-info__username {
    font-size: calc(0.8em + 0.2vmax);
    font-weight: bold;
    margin: calc(0.1em + 0.1vmax);
}

.user-info__user-handle {
    color: rgb(101, 119, 134);
    margin: calc(0.1em + 0.1vmax);
    font-size: calc(0.8em + 0.2vmax);
}

.user-tweet__text {
    margin: calc(0.1em + 0.1vmax);
    margin-top: calc(0.2em + 0.2vmax);
    width: 60%;
}

.user-tweet__operation-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: calc(0.5em + 0.2vmax);
}

.operation-bar__item {
    margin-right: calc(1em + 0.2vmax);
    font-size: calc(0.8em + 0.2vmax);
}

.operation-bar__reply { 
}

.operation-bar__trash {
}

.operation-bar__stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.stars__count {
    margin: 0 calc(0.05em + 0.2vmax);
    margin-left: 0;
    font-size: calc(0.8em + 0.2vmax);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.stars__icon {
    margin: 0 calc(0.05em + 0.2vmax);
    margin-right: 0;
    font-size: calc(0.8em + 0.2vmax);

}

.stars__full-star {
    color: var(--twitter-blue-color);
}

.pointer-cursor {
    cursor: pointer;
}

.break-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media (max-width: 500px) {
    .user-tweet__text {
        width: 95%;
    }

    .content__user-avatar {
        min-width: 1.1em;
        min-height: 1.1em;
        max-width: 1.1em;
        max-height: 1.1em;
        font-size: calc(1.8em + 0.2vmax);
    }
}