.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: calc(0.4em + 0.2vmax) 0;
}

.content__user-image {
    min-width: calc(3em + 0.2vmax);
    min-height: calc(3em + 0.2vmax);
    width: calc(3em + 0.2vmax);
    height: calc(3em + 0.2vmax);
    border-radius: 50%;
    margin-right: calc(0.2em + 0.2vmax);
}

.content__user-tweet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.user-tweet__username {
    font-size: calc(0.8em + 0.2vmax);
    font-weight: bold;
    margin: calc(0.1em + 0.2vmax);
}

.user-tweet__text {
    overflow-wrap: break-word;
    margin: calc(0.1em + 0.2vmax);
}