<div class="content">
    <div class="content__tweet-area">
        <div class="tweet-area__user-avatar">
            <fa-icon class="link-icon" [icon]="faUser"></fa-icon>
        </div>

        <textarea class="tweet-area__text-box" #textArea (keyup)="updateCharacterCount()" appAutoGrow="55" placeholder="What's happening?"></textarea>
    </div>

    <div class="content__operation-bar">
        <span class="operation-bar__character-limit">{{ characterCount }} / 240</span>
        <button class="operation-bar__tweet-button" (click)='postTweet()' #tweetButton>Tweet</button>
    </div>
</div>