
.menu {
    width: 100%;
    height: 100%;
    padding: calc(0.1em + 0.2vmax);
}

.menu__options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.options__option {
    padding: calc(0.2em + 0.2vmax);
    font-size: calc(3em + 0.2vmax);
    margin: calc(0.3em + 0.2vmax);
}

.menu__link {
    text-decoration: none;
    outline: none;
    color: black;
    font-weight: bold;
    font-size: calc(1em + 0.2vmax);
}

.twitter-icon{
    color: #38A1F3;
    font-size: calc(1.5em + 0.2vmax);
    border-radius: 50%;
    padding: calc(0.2em + 0.2vmax);
    text-align: center;
}

.twitter-icon:hover {
    background-color: rgba(56, 161, 243, 0.1);
}