.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(0.2em + 0.2vmax);
    /* background-color: var(--app-background-color); */
}

.menu__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.options__option {
    padding: calc(0.2em + 0.2vmax);
    font-size: calc(3em + 0.2vmax);
}

.menu__tweet-button {
    padding: calc(0.8em + 0.2vmax) calc(5em + 0.2vmax);
    margin-top: calc(0.7em + 0.2vmax);
    background-color: var(--twitter-blue-color);
    font-size: calc(0.8em + 0.2vmax);
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 4em;
    color: white;
}

.menu__tweet-button:hover {
    background-color: rgba(56, 161, 243, 0.8);
}

.menu__tweet-icon {
    display: none;
    margin-top: calc(0.7em + 0.2vmax);
    color: white;
    background-color: var(--twitter-blue-color);
    border: none;
    outline: none;
    font-weight: bold;
    font-size: calc(1em + 0.2vmax);
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;

}

.menu__link {
    text-decoration: none;
    outline: none;
    color: black;
    font-weight: bold;
    font-size: calc(1em + 0.2vmax);
    padding: calc(0.5em + 0.2vmax);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu__link:hover {
    background-color: rgba(56, 161, 243, 0.1);
    border-radius: 2em;
    color: var(--twitter-blue-color);
}

.link__text {
    margin-left: calc(1em + 0.2vmax);
}

.twitter-icon{
    color: var(--twitter-blue-color);
    font-size: calc(1.3em + 0.2vmax);
    text-align: center;
}

.link-icon {
    font-size: calc(1.3em + 0.2vmax);
    text-align: center;
}

.active-link {
    color: var(--twitter-blue-color);
}

.button:disabled { 
    background-color: rgba(56, 161, 243, 0.3);
}

@media (max-width: 500px) {
    .link__text{
        display: none;
    }

    .menu__tweet-button {
        display: none;
    }

    .menu__tweet-icon {
        display: initial;
    }
}