.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__tweet {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: calc(1em + 0.2vmax);
}

.border-bottom { 
    border-bottom: calc(0.03em + 0.03vmax) solid rgba(0, 0, 0, 0.3);
}