
<div class="content" *ngFor="let tweet of tweetList; trackBy: trackById">
    <app-tweet class="content__tweet border-bottom" [tweet]="tweet"></app-tweet>
</div>

<!-- <div class='content'>
    <div class='content__tweet border-bottom'>asdasdasdasda</div>
    <div class='content__tweet border-bottom'>asdasdasdasda</div>
    <div class='content__tweet border-bottom'>asdasdasdasda</div>
    <div class='content__tweet border-bottom'>asdasdasdasda</div>
    <div class='content__tweet border-bottom'>asdasdasdasda</div>
    <div class='content__tweet border-bottom'>asdasdasdasda</div>
    <div class='content__tweet border-bottom'>asdasdasdasda</div>
</div> -->